header {
  background-color: white;
}
section div,
footer div {
  padding: 1px;
}

.landing {
  background-color: #33a1bd;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3dcdbc),
    to(#33a1bd)
  );
  background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
  color: white;
  height: 900px;
  padding: 15% 0;
}

.brands {
  background-color: #f6f6f6;
  color: #4d4d4d;
  padding: 3em;
}

.services,
.products {
  color: #4d4d4d;
  padding: 7em 0;
}

.testimonials {
  background-color: #f6f6f6;
  color: #777;
  padding: 7em;
}
.testimonials h1 {
  color: #4d4d4d;
}

footer {
  background-color: #262626;
  color: #777;
  padding: 7em;
}
footer h1 {
  color: white;
}

.copyright {
  background-color: #1a1a1a;
  color: #777;
}

nav a {
  color: #3ac1bc;
}

nav a:hover {
  color: #33a1bd;
}
.active {
  color: black;
}

nav a:active {
  background-color: white !important;
  color: #33a1bd !important;
}

.btn-white {
  border-radius: 0;
  margin: 10px;
  border: 0;
  background: white;
  padding: 11px 25px;
  font-size: 1.1em;
  color: #34a7bd;
}
.btn-white:hover {
  background-color: #f6f6f6 !important;
}
