/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, .primary-header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, .primary-header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

@font-face {
  font-family: 'Bazar';
  src:url('Bazar.ttf.woff') format('woff'),
      url('Bazar.ttf.svg#Bazar') format('svg'),
      url('Bazar.ttf.eot'),
      url('Bazar.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  background: #74b4b4;
  color: #f9ebd9;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}
.nav li {
  display: inline-block;
  margin: 25px 20px 0 20px;
  vertical-align: middle;
}

/*
  ========================================
  Primary header
  ========================================
*/


.primary-nav {
  background: #78bbbb;
  letter-spacing: .5px;
  text-align: center;
  text-transform: uppercase;
  font: 700 16px "Bazar", sans-serif;
}
.logo {
    background: #525557;
    border-radius: 100%;
    font-size: 58px;
    font-weight: 500;
    padding: 15px;
    margin: 15px 20px 0 20px;
    text-transform: uppercase;
    font: 600 58px "Roboto Slab", sans-serif;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #f9ebd9;
  text-decoration: none;
}
a:hover {
  color: #525557;
}
.logo:hover {
  color: #f9ebd9;
  margin-top: 25px;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}

/*
  ========================================
  Home
  ========================================
*/

.hero {
  padding-top: 50px;
  text-align: center;
}
.hero h2 {
  font-size: 44px;
  font-weight: 600;
}